.text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  background: linear-gradient(90deg, black 10%, #7e22ce 90%);

  box-shadow:
    0 4px 10px rgba(200, 0, 233, 0.4),
    inset 0 1px 0 rgba(255, 255, 255, 0.3);

  transition: transform 0.1s ease;
}

.text:active {
  transform: translateY(2px);
  box-shadow: 0 2px 6px rgba(230, 0, 0, 0.3);
}

.text-one {
  margin-top: -10%;
}

.text-two {
  margin-top: -10%;
}
