*, *::before, *::after{
  font-family: sans-serif;
  box-sizing: border-box;

}

html, body{
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
  width: 100%;
}

@media screen and (max-width: 480px) {
  h1 { font-size: 1.8rem; }
  h2 { font-size: 1.5rem; }
  p, label, input { font-size: 0.95rem; }

  form input,
  form textarea,
  form select {
    padding: 8px 10px;
    margin-bottom: 8px 
  }
}
